#intro {
  height: 50px;
  background-color: blue;
}

#bio {
  height: 50px;
  background-color: red;
}

#projects {
  height: 50px;
  background-color: green;
}

#contact {
  height: 50px;
  background-color: yellow;
}